*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #f0f4f8;
  color: white;
}



h2{
  margin: 15px;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  display: inline-block;
}
h2::before {
  width:calc(100% + 10px);
  height: 0.3em;
  left: -5px;
  bottom: 0.05em; 
  z-index: -1;
  background-color: #9eb8b6;
  content: "";
  position: absolute;
}

ul {
  margin-bottom: 20px;
  list-style-type: none; 
  padding: 0;
}



header {
  padding: 90px;
  background-color: #9eb8b6;
  text-align: center;
  position: relative;
}

header .profile-photo {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-right: 20px;
  transform: translateY(-50%);
}


nav{
  padding: 10px;
  background-color: #658381;
  display: flex;
  justify-content: center;
}


.two-columns{
  display: flex;
}
.contact-item {
  margin-bottom: 10px;
  display: flex;
}


.index{
  width: 30%;
  height: auto;
  z-index: 1;
  background-color: #191919;
  overflow: hidden;
}

.index h3 {
  margin: 15px;
  margin-top: 500px;
}

.index a{
  all:inherit;
  width: 100%;
  padding: 10px 30px; 
}

.index #languages {
  margin: 15px;
}

.index #projects-list li{
  transition: all 0.1s;
}
.index #projects-list li:hover{
  transform: scale(1.1)  translateX(5%);
}

.dot{
  width: 100%;
  padding: 19px 30px;
}
.active, .dot:hover {
    background-color: #717171;
}


main{
  margin: 15px;
  color: black;
}

main ul{
  margin: 5px;
}

main #description{
  width: 56%;
}

#light p{
  margin-left: -10px;
  color:#658381;
}
#time{
  margin-right: 20px;
  color:#658381;
}


.slideshow-container {
  max-width: 1200px;
  max-height: 1000px;
  margin-top: 50px;
  margin: auto;
  border-radius: 100px;
  background-color: rgb(26, 100, 66);
  color: white;
  position: relative;
  overflow: hidden;
}

.image-container {
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
}
.image-container img {
    width: 100%;
    height: auto;
}

.prev, .next {
  width: auto;
  padding: 16px;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover{
  background-color: rgba(0,0,0,0.8);
  transform: scale(1.1) translateX(5%);
} 
.next:hover{
  background-color: rgba(0,0,0,0.8);
  transform:scale(1.1) translateX(-5%);
}

.text {
  width: 100%;
  height: 30%;
  top: 35%;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.subText{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  width: 100%;
  height: 10%;
}


footer{
  padding: 20px;
  background-color: #658381;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.icon{
  height: 15px;
  width: 15px;
  margin-right: 8px;
}
